- if image_url
	%div 
		%img{:src => image_url, :width => 192, :height => 192}
%p
	%em&= nickname
	has been a Yahoo member since 
	%strong= since_date
%p
	%a{:href => wikipedia_link, :target => '_blank'} See what was happening back then &rarr;
%p
	%a{:href => "/"} Or, try it yourself…
