!!! XML
!!!
%html
	%head
		:plain
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124208149-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-124208149-1');
			</script>		
		:css
			body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 100%; clear: both; float: left; position: relative; margin-top: 100px; padding: 0; font-size: 2em; text-align: center;}
			p {margin-right: 20px; margin-left: 20px;}
			a, a:visited {text-decoration: none; color: #0074D9;}
		%title When Did You Create Your Yahoo Account?
		%meta{:name => "author", :content => "@quanganhdo"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		- if defined?(og_url)		
			%meta{:property => "og:url", :content => og_url}
		- else
			%meta{:property => "og:url", :content => "http://www.membersince.pw"}
		%meta{:property => "og:type", :content => "website"}		
		%meta{:property => "og:title", :content => "When Did You Create Your Yahoo Account?"}
		- if defined?(og_description)
			%meta{:property => "og:description", :content => og_description}
		- else
			%meta{:property => "og:description", :content => "Find out when you created your Yahoo account"}
		- if defined?(og_image)	
			%meta{:property => "og:image", :content => og_image}
		- else
			%meta{:property => "og:image", :content => "http://www.membersince.pw/default.jpg"}
		%meta{:property => "og:image:width", :content => "200"}
		%meta{:property => "og:image:height", :content => "200"}
		%meta{:property => "fb:app_id", :content => "281484155774457"}
		:plain
			<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
	%body
		= yield